.main-nav {
    background: #13a4a4;
    list-style: none;
    margin-top: 10px;
    padding-left: 0;
}

.main-nav__item {
    display: inline-block;
}

.main-nav__item a {
    color: white;
    padding: 5px;
    text-decoration: none;
}

.main-nav__item a:hover {
    color: blue;
}

.main-nav__item a:active {
    color: red;
}

.main-nav__item a::after{
    content: " | ";
}