<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course CSS | Layout</title>
    <link rel="stylesheet" href="main.css">
</head>
<body>

<header>
    <section class="main-header">
        <div class="main-logo">
            <p>Logo Empresa</p>
        </div>
        <nav class="main-nav">
            <ul>
                <li> Home</li>
                <li> Cursos</li>
                <li> Instrucciones</li>
                <li> Blog</li>
            </ul>
        </nav>
    </section>
</header>
<aside>
    <div class="aside-container"></div>
    <div class="aside-container"></div>
    <div class="aside-container"></div>
    <div class="aside-container"></div>
</aside>
<main>
    <p>
        ary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
        literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney
        College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and
        going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum
        comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by
        Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.
        The first line of Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
        The standard chunk of Lorem Ipsum used since t
    </p>
</main>
<footer>
    <section class="footer-container">
        <div class="footer-container__enterprise">
            <p>empresa</p>
        </div>

        <div class="footer-container__contact">
            <p>contactanos</p>
        </div>
    </section>
</footer>

</body>
</html>